/* Footer */
 
.push, .footer {
    height: 60px;
  }
  
  .footer {
    background-color: rgb(221, 226, 221);  
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
 
  @media screen and (min-width:768px) and (min-height:405px) {
    .content, .footer {
          width: 75%;
          right: 0;
      }
      
         
    }
  
  



