<!--Footer-->
<div class="footer">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
       <footer class="footer">
       <div class="container">
         <div class="row">
             <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                 
                    <a href="http://www.labes.ufpa.br/" style="font-size: 10px;padding: 10px; color: black">Desenvolvido por:<img src="assets/logo_labes.png" width="200" height="50" alt=""> </a>
             </div>
             <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                
                 
                 <span class="text-muted small mb-4 mb-lg-0" style="font-size: 9px; font-weight: bold">Av. Presidente Vargas, 1020, Centro, 66017-000, Belém - PA - Brasil. Fone: (91)4009-2500 - Fax: (91)4009-2525.</span>
                 <p class="text-muted small mb-4 mb-lg-0" style="font-size: 10px">Copyright 2018 SECTET - Secretaria de Estado de Ciência, Tecnologia e Educação Profissional e Tecnológica.</p>
             </div>
         </div>
       </div>
       
       </footer>                 

  </div>             