<div class="nav-side-menu">
    <div class="brand">PESQUISAR LABORATÓRIOS</div>
    <i class="fas fa-search fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                
<br>
                      <form>
                          <div class="input-group">
                            <input type="text" class="form-control" name="mapaFiltro" placeholder="Pesquisar...">
                            <div class="input-group-btn">
                              <button class="btn btn-secondary" type="submit">
                                <i class="fas fa-search"></i>
                              </button>
                
                            </div>
                            <button class="btn btn-secondary ml-2" type="submit">
                              <i class="far fa-trash-alt"></i>
                            </button>
                          </div>
                
                        </form>
<br>

                         <!-- Button to Open the Modal -->
                          <button class="info" type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#myModal" style="float: right">
                            Busca Avançada
                          </button>                        
                 
                
<br><br>
                <div class="card">         
                  <div class="card-header" style="text-align: center; background: #009688; color: white">
                      <span>RESULTADOS DA PESQUISA</span>
                    </div>
                    </div>
                   
                <li data-toggle="collapse" data-target="#lab" class="collapsed">
                  <a href="#" style="font-size: 14px"><i class="fas fa-vials fa-lg"></i> Laboratórios<span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="lab">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#instituicao" class="collapsed">
                  <a href="#" style="font-size: 14px"><i class="fas fa-university fa-lg"></i> Instituições <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="instituicao">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>

                <li data-toggle="collapse" data-target="#servico" class="collapsed">
                    <a href="#" style="font-size: 14px"><i class="fas fa-cogs fa-lg"></i> Serviços <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="servico">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                  </ul>

                  <li data-toggle="collapse" data-target="#pesquisador" class="collapsed">
                      <a href="#" style="font-size: 14px"><i class="fas fa-user-tie fa-lg"></i> Pesquisadores <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="pesquisador">
                      <li>New New 1</li>
                      <li>New New 2</li>
                      <li>New New 3</li>
                    </ul>

                    <li data-toggle="collapse" data-target="#localidade" class="collapsed">
                        <a href="#" style="font-size: 14px"><i class="fa fa-globe fa-lg"></i> Localidades <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="localidade">
                        <li>New New 1</li>
                        <li>New New 2</li>
                        <li>New New 3</li>
                      </ul>

                      <div class="card">         
                          <div class="card-header" style="text-align: center; background: #009688; color: white">
                              <span>ICONNECT / PCT - GUAMÁ</span>
                            </div>
                            </div>

                            <li data-toggle="collapse" data-target="#iconnect" class="collapsed">
                                <a href="#" style="font-size: 14px"><i class="fas fa-vials fa-lg"></i> Laboratórios <span class="arrow"></span></a>
                              </li>  
                              <ul class="sub-menu collapse" id="iconnect">
                                <li>New Service 1</li>
                                <li>New Service 2</li>
                                <li>New Service 3</li>
                              </ul>
                
            </ul>
     
     </div>

</div>

<!--Modal-->

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="text-align: center; background: #009688; color: white">
          <h4 class="modal-title">Busca Avançada</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         ...
        </div>


      </div>
    </div>
  </div>
