<div class="nav-side-menu">
    <div class="brand">PESQUISAR LABORATÓRIOS</div>
    <i class="fas fa-search fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
<hr>
                      <form>
                          <div class="input-group">
                            <input type="text" class="form-control" name="mapaFiltro" placeholder="Pesquisar...">
                            <div class="input-group-btn">
                              <button class="btn btn-secondary" type="submit">
                                <i class="fas fa-search"></i>
                              </button>
                
                            </div>
                            <button class="btn btn-secondary ml-2" type="submit">
                              <i class="far fa-trash-alt"></i>
                            </button>
                          </div>
                
                        </form>
<br>
                         <!-- Button to Open the Modal -->
                          <button class="info" type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#myModal" (click)="mostrarInformacao(m)">
                              Busca Avançada
                          </button>
                 
                </li>
<hr>
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>

</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="text-align: center; background: #009688; color: white">
          <h4 class="modal-title">Detalhes</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         ...
        </div>


      </div>
    </div>
  </div>
